#table {
  width: 85%;
  margin-right: 7.5%;
  margin-left: 7.5%;
  margin-top: 6%;
  margin-bottom: 10%;
}
#inputs {
  margin-left: 7.5%;
  margin-top: 4%;
}
#user {
  color: #53E3A6;
}
#comment {
  color: #53E3A6;
}
#sender1 {
  color: #53E3A6;
}
#del {
  margin-left: 41%;
  margin-top: 5%;
}
.deletebutton {
  background: #228fa2;
}
#user, #comment, #sender1{
  float: left;
}
