#table {
  width: 75%;
  margin-right: 12.5%;
  margin-left: 12.5%;
  margin-top: 6%;
  margin-bottom: 10%;
}
#inputs {
  margin-left: 7.5%;
  margin-top: 4%;
}
#user {
  color: #53E3A6;
}
#comment {
  color: #53E3A6;
}
#sender1 {
  color: #53E3A6;
}
#user, #comment, #sender1{
  float: left;
}
tbody tr:nth-child(odd) {
   background-color: #40A2B4 ;
}
table button {
  background-color: #228fa2;
  margin-left: 25%;
  margin-right: 25%;
  width: 45%;
}
tr, td, th {
  outline: thin solid #035f70;
  text-align: center;
}
