
#searchResults, #comments {
  width: 90%;
  margin: 2%;
}
/*Search.html CSS*/
#fields{
  text-align: center;
  color: white;
}
#searchResults{
  border: 2px solid #035f70;
  padding: 3px;
  width: 75%;
  margin-left: 12.5%;
  margin-top:5%;
  margin-bottom:10%;
}
tbody tr:nth-child(odd) {
   background-color: #40A2B4;
}
#searchTR{
  font-size: 1.1em;
  margin: 1px;
}
#gameTitle, #owner{
  width: 25%;
}
#numPlayers{
  width: 10%;
}
#condition, #status{
  width: 20%;
}

#contactOwner{
  width: 140px;
}
h3{
  margin: 3%;
}
#lowerSearch{
  display: inline-block;
  width: 70%;
  margin left: 5%;
}
#searchForm{
  width:100%;
}
#title, #numberOfPlayers{
   width: 200px;
   padding: 5px;
   float: left;
}
#status, #condition{
  width: 200px;
  padding: 5px;
  float:left;
}
#tableStatus, #tableCondition{
  width: 100%;
  padding: 5px;
  float:left;
  height: 50px;
  text-align: center
}

#statusDrop, #conditionDrop{
 /*border-radius: none;
  box-shadow: none;
  border: none;*/
  margin-bottom: 10px;
  font-weight: 300;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: white;
  background: rgba(255, 255, 255, 0.2);
  height: 50px;
  width: 15%;
  outline: 0;
  font-size:16px;

  /*background: transparent;*/
  vertical-align: middle;
  transition: color .2s ease-in-out, opacity 2s ease-in-out;
}
#minDrop, #maxDrop{
  margin-bottom: 10px;
 font-weight: 300;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: white;
  background: rgba(255, 255, 255, 0.2);
  height: 50px;
  width: 11%;
  outline: 0;
  font-size:16px;

  /*background: transparent;*/
  vertical-align: middle;
  transition: color .2s ease-in-out, opacity 2s ease-in-out;
}
#searchbtn {
  margin-bottom: 10px;
}
