html{
  background-color: #228fa2;
}
input{
  border-radius: none;
  box-shadow: none;
  border: none;
  height: 50px;
  width: 60%;
  outline: 0;
  font-size:20px;
  background: transparent;
  vertical-align: middle;
  transition: color .2s ease-in-out, opacity 2s ease-in-out;
}
button {
  display: inline-block;
  width: 200px;
  height: 50px;
  padding: 8px;
  color: #228fa2;
  border: 2px solid #228fa2;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              border-color 0.2s ease-out;
}
button:hover,button:active {
  background-color: #228fa2; /* fallback */
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #228fa2; /* fallback */
  border-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}
